# Ignore virtual environments
venv/
.env/

# Ignore Python cache
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and outputs
*.log
wandb/
output/
runs/

# Ignore Hugging Face datasets & models
~/.cache/huggingface/
.cache/
datasets/
*.lock

# VS Code and system files
.vscode/
.DS_Store
Thumbs.db
